[submodule "Modules/RNGPerks"]
	path = Modules/RNGPerks
	url = https://github.com/CanInBad/RNGPerks
[submodule "Modules/Z_Hypertus"]
	path = Modules/Z_Hypertus
	url = https://github.com/CanInBad/HypertusMod.git
[submodule "grindingFloor"]
	path = Modules/Z_IgrindingFloor
	url = https://CanInBad@github.com/CanInBad/grindingFloor.git
[submodule "Modules/selfFight"]
	path = Modules/selfFight
	url = https://github.com/CanInBad/selfFight.git
[submodule "Modules/PartOrientPicker"]
	path = Modules/PartOrientPicker
	url = https://CanInBad@github.com/CanInBad/OrientPartPicker.git
